#nav-bar-container {
    background-color: #3f5a68;
    padding: 1rem;
    color: #ebe9df;
    font-size: 1.25rem;
}

#nav-bar-title {
    font-size: 1.75rem;
    color: #ebe9df;
}

#admin-toggle {
    color: #ebe9df;
    font-size: 1.75rem;
}

#nav-bar-email {
    font-size: 1.25rem;
}

.nav-bar-button {
    background-color: #ebe9df;
    color: #3f5a68;
    font-size: 1.rem;
    font-weight: 600;
}

.nav-bar-button:hover {
    color: #ebe9df;
    background-color: #3f5a68;
    border: 1px solid #ebe9df;
}

.dropdown-item:active {
    background-color: white;
    color: black;
    text-decoration: underline;
}

.dropdown-item:hover {
    background-color: white;
    color: black;
    text-decoration: underline;
}

.navbar-toggler {
    border:  #ebe9df 1px solid !important;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(235, 233, 223, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}